
    {% include 'modules/sidebar.html' %}

    <div id="content" class="site-content">
                <div id="blog-wrapper">
                    <div class="blog-holder center-relative">


                        <article id="post-1" class="blog-item-holder featured-post">
                            <div class="entry-content relative">
                                <div class="content-1170 center-relative">

                                    <h2 class="entry-title">
                                        Hi, I'm Ethan
                                    </h2>
                                    <div class="excerpt">
                                        I'm a product manager and full stack developer
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </article>


                    </div>
                </div>

                <div class="featured-image-holder">
                    <div class="featured-post-image" style="background-image: url(../static/images/demo-images/featured-image.jpg)"></div>

                </div>
                <div class="clear"></div>
            </div>

    {% include 'modules/foot.html' %}
