{% include 'modules/sidebar.html' %}

<style>
    .portfolio-item {
        position: relative;
        margin-bottom: 30px;
        overflow: hidden;
    }

    .portfolio-overlay {
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ef6e30;
        color: #fff;
        -webkit-transition: all 500ms;
        -moz-transition: all 500ms;
        -ms-transition: all 500ms;
        -o-transition: all 500ms;
        transition: all 500ms;
    }

    .portfolio-item:hover .portfolio-overlay {
        top: 0;
    }

    .portfolio-info {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 16px;
        font-weight: normal;
        padding-left: 30px;
        padding-bottom: 20px;
    }

    .portfolio-info h3 {
        color: #fff;
        margin-top: 5px;
        margin-bottom: 0;
    }

    .portfolio-info a {
        font-size: 30px;
        color: #fff;
    }

    .portfolio-info a:hover {
        color: #bb460d;
    }
</style>

<div id="content" class="site-content">
    <div id="blog-wrapper">
        <div class="blog-holder center-relative">
            <h2>Portflio temporarily housed on <a href="https://virtuetheory.com/#portfolio">VirtueTheory's page</a></h2>
        </div>
    </div>

    <div class="featured-image-holder">
        <div class="featured-post-image" style="background-image: url('../static/images/me.jpg')"></div>
    </div>
    <div class="clear"></div>
</div>

{% include 'modules/foot.html' %}
