 {% include 'modules/sidebar.html' %}

<div id="content" class="site-content">
    <div id="blog-wrapper">
        <div class="blog-holder center-relative">
            {% for post in posts %}

              {% if loop.index == 1 %}
                <article id="post-1" class="blog-item-holder featured-post">
                    <div class="entry-content relative">
                        <div class="content-1170 center-relative">
                            <div class="cat-links">
                                <ul>
                                    {% for key, value in post.tags.items() %}
                                    <li>
                                        <a href="#">{{value}}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="entry-date published">{{post.date}}</div>
                            <h2 class="entry-title">
                              <a href="{{post.url}}">{{post.title}}</a>
                            </h2>
                            <div class="excerpt">
                              something here
                                <a class="read-more" href="{{post.url}}"></a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </article>
              {% endif %}
            {% endfor %}

          {% for post in posts[1:] %}
            <article class="blog-item-holder">
                <div class="entry-content relative">
                    <div class="content-1170 center-relative">
                        <h2 class="entry-title">
                            <a href="{{post.url}}">{{post.title}}</a>
                          </h2>
                        <div class="cat-links">
                            <ul>
                                {% for key, value in post.tags.items() %}
                                <li>
                                    <a href="#">{{value}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="entry-date published">{{post.date}}</div>
                        <div class="clear"></div>
                    </div>
                </div>
            </article>
            {% endfor %}

        </div>
        <div class="clear"></div>
        <!-- <div class="block load-more-holder">LOAD MORE ENTRIES</div> -->
    </div>

    <div class="featured-image-holder">
        <div class="featured-post-image" style="background-image: url('https://images.unsplash.com/photo-1516414447565-b14be0adf13e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a463f291dd7820f9c0d8d6e458bc7631&auto=format&fit=crop&w=1566&q=80')"></div>

    </div>
    <div class="clear"></div>
</div>

{% include 'modules/foot.html' %}
